/* Секція "work" */

.section--work {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
       display: none;
    }
}

.work-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    list-style: none;

    display: flex;
    justify-content: space-between;

    &__item:not(:first-child) {
        margin-left: 30px;
    }

    &__box {
        position: relative;
    }

    &__title {
        color: var(--accent-text-color);
        background-color: var(--work-overlay-color);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        text-align: center;
        padding-top: 27px;
        padding-bottom: 27px;

        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
    }
}