/* Mobile menu */

.mobile-menu {
    background-color: var(--primary-background-color);
    padding: 48px 40px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    transform: translateX(100%);
    transition: transform 250ms var(--cubic-bezier);

    overflow-y: scroll;

    &.is-open {
        transform: translateX(0);
    }

    &__button {
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        background-color: var(--primary-background-color);
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;
        
        position: absolute;
        top: 10px;
        right: 15px; 

        transition: color 250ms var(--cubic-bezier);

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__button:hover, &__button:focus {
        color: var(--primary-accent-color);
    }

    &__icon-open, &__icon-close {
        fill: currentColor;
    }

    &__list {
        list-style: none;
        display: inline-block;
    }

    &__item:not(:first-child) {
        margin-top: 32px;
    }

    &__link {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        text-decoration: none;

        transition: color 250ms var(--cubic-bezier);
    }
   
    &__link:hover, &__link:focus {
        color: var(--primary-accent-color);
    }

    &__link--current {
        color: var(--primary-accent-color);
    } 
}

/* Mobile menu  Список контактів*/

.mobile-menu-contact {
    list-style: none;
    margin-top: 100%;

    &__item:not(:first-child) {
        margin-top: 32px;
    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 0.02em;
    }

    &__link--tel {
        font-size: 34px;
        line-height: 1.17;
        color: var(--primary-accent-color);

        @media screen and (max-width: 477px) {
            font-size: 8vw;
        }
    }

    &__link--mailto {
        font-size: 24px;
        line-height: 1.16;
        color: var(--primary-text-color);
    }

}

/* Mobile menu  Список соціальних мереж */

.mobile-menu-social {
    list-style: none;
    display: flex;

    margin-top: 64px;

    &__item {
        display: flex; 
        position: relative;
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__item:not(:last-child)::after {
        content: "";
        display: block;
        height: 100%;
        width: 1px;
        background-color: var(--form-border-color);
        position: absolute;
        right: -10px;
        bottom: 0;  
    }

    &__link {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;

        color: var(--primary-accent-color);

         @media screen and (max-width: 447px) {
            font-size: 3.4vw;
        }
    }

    
}

