/* header */

.page-header {
    border-bottom: 1px solid var(--header-border-color);

    @media screen and (max-width: 767px) {
        position: relative;
    }
}

.container--header {
    display: flex;
    align-items: center;
}

.bloc-nav {
    display: flex;

    &__logo {
        display: block;
        padding-top: 24px;
        padding-bottom: 25px;

        @media screen and (max-width: 767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
    }
}

.navigation-list {
    list-style: none;

    display: flex;
    margin-left: 93px;

    @media screen and (max-width: 767px) {
        display: none;
    }

    &__item:not(:first-child) {
        margin-left: 50px;
    }

    &__link {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        position: relative;

        transition: color 250ms var(--cubic-bezier);
    }

    &__link:hover, &__link:focus {
        color: var(--primary-accent-color);
    }

    &__link--current {
        color: var(--primary-accent-color);
    }

    &__link--current::after {
        content: "";
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background-color: var(--primary-accent-color);
        position: absolute;
        left: 0;
        bottom: -1px;  
    }
}

.contact-list {
    list-style: none;

    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
       display: block; 
    }

    &__item:first-child {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
           margin-bottom: 10px;
        }
    }

    &__item:last-child {

        @media screen and (min-width: 1200px) {
            margin-left: 30px;
        }
    }

    &__link {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;

        display: flex;
        align-items: center;

        transition: color 250ms var(--cubic-bezier);

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            font-size: 12px;
            line-height: 1.16;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 32px;
            padding-bottom: 32px;
        }
    }


    &__link:hover, &__link:focus {
        color: var(--primary-accent-color);
    }

    &__icon {
        fill: currentColor;
        
        margin-right: 10px;

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 8px;
        }
    }

    &__icon--mailto {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 14px;
            height: 10px;
        }
    }

    &__icon--tel {

        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: 10px;
            height: 14px;
        }
    }   
}    