/* main Портфоліо */

/* Секція "project" */
/* ----Блок filter-------- */
.filter-list {
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    
    width: 100%;
    margin-bottom: 40px;

    @media screen and (min-width: 480px) and (max-width: 767px) {
       width: 350px; 
    }

    @media screen and (max-width: 767px) {
       margin-right: calc(-1 * 8px);
       margin-top: calc(-1 * 15px); 
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }

    &__item:not(:last-child) {
        margin-right: 8px;
    }

    &__item {
        margin-top: 15px;

        display: flex;

        @media screen and (min-width: 768px) {
           margin-top: 0;
        }

    }

    &__btn {
        color: var(--title-text-color);
        background-color: var(--secondary-background-color);
        border-radius: 4px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        cursor: pointer;
        font-family: inherit;

        border-color: transparent;
        box-shadow: none;
        padding: 6px 22px;

        transition:
        color 250ms var(--cubic-bezier), 
        background-color 250ms var(--cubic-bezier),
        box-shadow 250ms var(--cubic-bezier);
    }

    &__btn:hover, &__btn:focus {
        color: var(--accent-text-color);
        background-color: var(--primary-accent-color);

        box-shadow: var(--filter-shadow-color);
    }
}