/* секція "team", блок --- social-list*/

.social-list {
    list-style: none;

    display: flex;
    justify-content: center;


    &__item {
        display: flex; 
    }

    &__item:not(:first-child) {
        margin-left: 10px;
    }

    &__link {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        color: var(--svg-primary-color);

        display: flex;
        justify-content: center;
        align-items: center;

        transition:
        color 250ms var(--cubic-bezier), 
        background-color 250ms var(--cubic-bezier);
    }

    &__link:hover, &__link:focus {
        color: var(--accent-text-color);
        background-color: var(--primary-accent-color);
    }

    &__icon {
        display: block;
        fill: currentColor;
    }
}